<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- MySQL Driver -->
        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>

        <!-- Database URL -->
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/hibernate_db
        </property>

        <!-- Username -->
        <property name="hibernate.connection.username">
            root
        </property>

        <!-- Password -->
        <property name="hibernate.connection.password">
            Amilostyou@1234
        </property>

        <!-- Dialect -->
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <!-- Show SQL Queries -->
        <property name="hibernate.show_sql">
            true
        </property>

        <!-- Auto create/update table -->
        <property name="hibernate.hbm2ddl.auto">
            update
        </property>

        <!-- Entity Mapping -->
        <mapping class="com.amitabha.student"/>

    </session-factory>

</hibernate-configuration>